.role-selection-container {
    margin: 3px;
    padding-bottom: 100px;
    border-radius: 25px;
}

.background-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.front-icon {
    position: relative;
    z-index: 1;
}

.role-button {
    padding: 1rem !important;
    border-radius: 0.5rem !important;
}

.role-button-text {
    font-size: 1.125rem !important;
    font-weight: 500 !important;
} 